<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>26 de janeiro de 2017</ion-card-subtitle>
      <ion-card-title>Riverdale</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/6zBWSuYW3Ps1nTfeMS8siS4KUaA.jpg"/>

      <p>Enquanto tentam lidar com problemas típicos da adolescência como amor, sexo, 
        escola e família, Archie e sua turma se envolvem em um grande mistério.</p>
      <ion-button expand="block" fill="outline">Mais Informações...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>27 de março de 2005</ion-card-subtitle>
      <ion-card-title>Grey´s Anatomy</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/eqgIOObafPJitt8JNh1LuO2fvqu.jpg"/>

      <p>Os médicos do Grey Sloan Memorial Hospital lidam diariamente com casos e consequências
         de vida ou morte. É um no outro que eles encontram apoio, conforto, amizade...</p>
      <ion-button expand="block" fill="outline">Mais Informações...</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
